.font-8 {
    font-size: 8px;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-23 {
    font-size: 23px;
}

.font-24 {
    font-size: 24px;
}

.font-25 {
    font-size: 25px;
}

.font-26 {
    font-size: 26px;
}

.font-27 {
    font-size: 27px;
}

.font-28 {
    font-size: 28px;
}

.font-29 {
    font-size: 29px;
}

.font-30 {
    font-size: 30px;
}

.main-sidebar {
    background-image: url('../img/sidebar.jpg');
}

.main-sidebar:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(6 30 95 / 50%);
    top: 0;
    left: 0;
    z-index: -9;
}

.textUpper{
    text-transform: uppercase;
}

[class*=sidebar-light-] .sidebar p {
    color: white !important;
}

.info-box {
    min-height: 0 !important;
}

.info-box .info-box-content {
    padding: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 7px;
    font-size: 12px;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option {
    font-size: 12px;
}

.select2-search--dropdown .select2-search__field {
    font-size: 12px;
    height: 25px;
    padding: 5px 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, select.form-control {
    line-height: 18px;
}

select.form-control {
    font-size: 12px;
    height: 29px;
    padding: 5px 8px;
    border: 1px solid #aaa;
}

.select-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

/* PARA PAGINACION */
.footable>tfoot .pagination {
    float: none !important;
    justify-content: center;
}

.input-icon {
    color: #191919;
    position: absolute;
    height: 28px;
    left: 15px;
    top: 60%;
    transform: translateY(-50%);
}

/* PARA HOVER SUPLEMENTADOS */
div#info {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #1f1f1fb0;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: .25rem;
    z-index: 99;
    margin-left: -4px;
}

div#all:hover div#info {
    opacity: 1;
}

/* PARA BARRA DE PROGRESO */

.info-box .progress {
    height: 4px;
}

/* PARA TABLAS */

.table td,
.table th {
    border-color: #f3f1f1;
    padding: 4px;
}

.table th,
.table thead th {
    font-weight: 500
}

.table-hover tbody tr:hover {
    background: #f2f4f8
}

.table-responsive#prematuro, #tmz_neonatal, #no_cumplen, #cuatro_meses, #cred, #bateria_completa {
    height: 300px;
    overflow: auto;
}

#prematuro thead tr th,
#prematuro_suple thead tr th,
#no_cumplen thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #68cccc !important;
}

#prematuro thead tr th#color_prematuro_head {
    background: #21596c !important;
    color: white;
}

#no_cumplen thead tr th {
    background: #da8b8b !important;
}

#no_cumplen thead tr th#color_prematuro_head {
    background: #b73b3b !important;
    color: white;
}

#prematuro_suple thead tr th {
    background: #85c185 !important;
}

#prematuro_suple thead tr th#color_prematuro_head {
    background: #466846 !important;
    color: white;
}

#prematuro_resume thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: white !important;
}

#prematuro_resume {
    height: 165px;
    overflow: auto;
}

#tmz_neonatal thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #AED6F1 !important;
}

#tmz_neonatal thead tr th#color_neonatal_head {
    background: #dae9f3 !important;
}

#tmz_neonatal thead tr th#color_neonatal_head2 {
    background: #91b9d5 !important;
}

#cuatro_meses thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #c9d0e2 !important;
}

#cuatro_meses thead tr th#fields_4_meses_head {
    background: #638bb3 !important;
}

#cred thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #C6DEEF !important;
}

#cred thead tr th#fields_cred {
    background: #f1f1c0 !important;
}

#cred thead tr th#fields_cred1 {
    background: #f0dfc7 !important;
}

#cred thead tr th#fields_cred2 {
    background: #F0B0AF !important;
}

#cred thead tr th#fields_cred3 {
    background: #CBF0BB !important;
}

#cred thead tr th#fields_cred4 {
    background: #F0AFEC !important;
}

#cred thead tr th#fields_cred5 {
    background: #F0E5BB !important;
}

#cred thead tr th#fields_cred6 {
    background: #EDF8FF !important;
}

#cred thead tr th#fields_cred7 {
    background: #b7d5f6 !important;
}

#cred thead tr th#fields_cred8 {
    background: #dac5ff !important;
}

#cred thead tr th#fields_cred9 {
    background: #b7fffc !important;
}

#fields_cred_body {
    background: #f1f1c052;
}

#fields_cred_body1 {
    background: #f0dfc757;
}


#bateria_completa thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #c9d0e2 !important;
}

#bateria_completa thead tr th#fields_bateria_head {
    background: #6f91e7 !important;
}


.table-responsive#profesional {
    height: 430px;
    overflow: auto;
}

#profesional thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #68cccc !important;
}


/* CAMBIOS EN CSS ORIGINAL */

.info-box-not-dflex{
    display: inherit !important;
}